@model List<CRUD_Lighthouse.Models.Category>

@{
    ViewData["Title"] = "Category Management";
}

<h2 class="text-center">Category Management</h2>

<div class="text-center mb-3">
    <a href="/categories/create" class="btn btn-primary">Create New</a>
</div>

<div id="app" class="row justify-content-center">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3" v-for="category in categories" :key="category.id">
        <div class="card h-100">
            <img :src="category.image" class="card-img-top" alt="Category Image" style="max-width: 100%; height: 200px;">
            <div class="card-body">
                <h5 class="card-title text-center">{{ category.name }}</h5>
                <div class="text-center">
                    <a :href="'/categories/Details/' + category.id" class="btn btn-outline-primary">Details</a>
                    <a :href="'/categories/Edit/' + category.id" class="btn btn-outline-secondary">Edit</a>
                    <a :href="'/categories/Delete/' + category.id" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                categories: @Html.Raw(Json.Serialize(Model))
                    }
        });
    </script>
}
