@model List<CRUD_Lighthouse.Models.Category>

<h2>Category Management</h2>

<p>
    <a href="/Home/Create" class="btn btn-primary">Create New</a>
</p>

<div id="app" class="row">
    <div class="col-md-6" v-for="category in categories" :key="category.id">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img :src="category.image" class="img-fluid rounded-start" alt="Category Image" style="max-width: 100px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <a :href="'/categories/Details/' + category.id" class="btn btn-outline-primary">Details</a>
                        <a :href="'/categories/Edit/' + category.id" class="btn btn-outline-secondary">Edit</a>
                        <a :href="'/categories/Delete/' + category.id" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                categories: @Html.Raw(Json.Serialize(Model))
                    }
        });
    </script>
}

